<main-header [disableKeywordSearch]="true" [disableCountrySearch]="true"></main-header>
<div class="container">
    <label class="display-4">Account info</label>
    <div class="dropdown-divider"></div>
    <div class="row">
        <label class="col col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [disabled]="true" id="username-field"
                [ngModel]="userDetails.username" name="username">
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="row">
        <label class="col col-form-label" for="email-field">Email address</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" [disabled]="true" id="email-field" aria-describedby="emailHelp"
                [ngModel]="userDetails.email" name="email">
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="row">
        <label class="col col-form-label">Joined Date</label>
        <div class="col-sm-10">
            <input type="datetime" class="form-control" [disabled]="true" id="date-field"
                [ngModel]="userDetails.joinedDate" name="joineddatetime">
        </div>
    </div>
</div>
