<main-header></main-header>
<div class="news-home container" *ngIf="!isLoading; else loading">
    <ng-container *ngFor="let news of newsResponse">
        <div class="jumbotron">
            <img class="image-block" src="{{news.image}}">
            <h2>{{ news.headline }}</h2>
            <p class="lead">{{news.date | date: "dd-MMM-yyyy, hh:mm a"}}</p>
            <hr class="my-4">
            <p>{{ news.shortDescription }}</p>
            <a class="btn btn-primary btn-lg" (click)="launch(news.url)" role="button">Read more</a>
            <img *ngIf="!news.saving"
                src="{{ !news.saved ? '../../../../assets/bookmark-add.svg' : '../../../../../assets/bookmark-added.svg' }}"
                (click)="!news.saved ? saveNews(news) : removeSavedNews(news)" class="rounded float-right">
            <div *ngIf="news.saving" class="spinner-border float-right" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>
</div>
<ng-template #loading>
    <div class="spinner-grow load-page" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>
<router-outlet></router-outlet>
